## dev settings
web-test-runner.config.dev.json

## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
/package-lock.json
/yarn-error.log
/yarn.lock

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/dist/out-tsc/

# generator files
/src/__generated__/
out-tsc
nohup.out
