:host {
    display: block;
    //min-height: 100vh;
}

.document-scanner {

}

.top-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#document-scanner-container{
    //width: 200px;
    //height: 80vh;
    //background-color: green;
    //z-index: 1000;

}
